@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
}

.travel--page {
  width: 550px;
  background-color: #fcfcfc;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
}


